NODE_ENV=development
# port mapping
FRONTEND_PORT=4000
BACKEND_PORT=5001
# api
BACKEND_API_URL="http://localhost:${BACKEND_PORT}/api"

# database config
DB_HOST=postgres
DB_PORT=5432
POSTGRES_USER=db_username
POSTGRES_PASSWORD=db_password
DB_NAME=quickdesk
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}?schema=public"

# jwt config
JWT_SECRET=jwt_secret_key
JWT_ACCESS_TOKEN_EXPIRES_MIN=15
REFRESH_TOKEN_EXPIRES_IN_DAYS=7

# rate limit for employe ticket create
TICKET_LIMIT_PER_HOUR=20

#API KEY
GEMINI_API_KEY=
GEMINI_CHAT_MODEL=gemini-3.5-flash-lite
GEMINI_EMBEDDING_MODEL=gemini-embedding-001
