# Port Configuration
FRONTEND_PORT=4000
BACKEND_PORT=5001

# Database Configuration
DB_HOST=postgres
DB_PORT=5432
POSTGRES_USER=
POSTGRES_PASSWORD=
DB_NAME=
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}?schema=public"

# Auth Configuration
JWT_SECRET=

# API Configuration
BACKEND_API_URL="http://localhost:${BACKEND_PORT}"
